---
---

@import "{{ site.theme }}";
@import url("https://use.typekit.net/ocg8wxb.css");


.markdown-body {
  max-width: 700px;
  font-size: 17px;
}

.markdown-body p {
  font-size: 17px;
  line-height: 1.9em;
  margin-bottom: 1.2em;
}

.markdown-body li {
  font-size: 17px;
  line-height: 1.9em;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

h1,
h2,
h3,
h4,
h5,
blockquote {
  font-family: brandon-grotesque,sans-serif;
  font-weight: 300;
  font-style: normal;
}

a{
  color:green;
}

.date{
  color:grey;
  padding-top:30px;
  font-size: 15px;
}

img{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top:20px;
  margin-bottom:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}