---
---

@import "{{ site.theme }}";
@import url("https://use.typekit.net/ocg8wxb.css");


.markdown-body {
  max-width: 700px;
  font-size: 17px;
}

.markdown-body p {
  font-size: 17px;
  line-height: 1.9em;
  margin-bottom: 1.2em;
  font-family: Helvetica, Arial, sans-serif;
}

.markdown-body li {
  font-size: 17px;
  line-height: 1.9em;
  font-family: Helvetica, Arial, sans-serif;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

h1,
h2,
h3,
h4,
h5,
blockquote {
  font-family: brandon-grotesque,sans-serif;
  font-weight: 300;
  font-style: normal;
}


a {
	color: #54595F;
	text-decoration:none;
  background-image: 
		linear-gradient(0deg, rgba(43,105,86,1) 0%, rgba(55,161,109,1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.13em;
  background-position: 0 95%;
  transition: background-size 0.25s ease-in;
}
a:hover {
  color:white;
	background-size: 100% 88%;
  text-decoration: none;
}

h1 a, h2 a{
  color: rgba(43,105,86,1);
  background-image: none;
}
h1 a:hover, h2 a:hover{
  color: rgba(55,161,109,1);
}



.date{
  color:grey;
  padding-top:30px;
  font-size: 15px;
}

img{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top:20px;
  margin-bottom:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img[src*="#screen"] {
   width: 100%;
   box-shadow: none;
}